$blue: #387ADF;
$yellow: #ffb510;

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  width: 100%;
  background: #232323;
  padding: 1.5rem;
  height: 75vh;
  position: relative;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px black;
  z-index:9;
  position: relative;
  border-radius: 12px 12px 0 0;

  .box {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    transition: margin 1s;

    .experience,
    .education,
    .skills,
    .particles,
    .game {
      margin-top: -10px;
    }

    .about,
    .experience,
    .education,
    .skills,
    .particles,
    .game {
      padding-left: 32px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .block {
        width: 0%;
        height: inherit;
        position: absolute;
        display: flex;
      }

      h1 {
        opacity: 0;
        font-weight: 400;
        color: #ffffff;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 5px;
        -webkit-animation: mainFadeIn 1.5s forwards;
        -o-animation: mainFadeIn 1.5s forwards;
        animation: mainFadeIn 1.5s forwards;
        animation-delay: .8s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;
        }
      }
    }

    .about {
      .block {
        background: $yellow;
        animation: mainBlock 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
      }

      h1 {
        -webkit-animation: mainFadeIn 1.5s forwards;
        -o-animation: mainFadeIn 1.5s forwards;
        animation: mainFadeIn 1.5s forwards;
        animation-delay: .8s;

        span {
          background: #ffb510;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;

        }
      }
    }

    .experience {
      .block {
        background: $blue;
        animation: secBlock 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 1.5s;
      }

      h1 {
        animation: secFadeIn 2s forwards;
        animation-delay: 2.3s;
      }
    }

    .education {
      .block {
        background: $yellow;
        animation: mainBlock 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 3s;
      }

      h1 {
        -webkit-animation: mainFadeIn 1.5s forwards;
        -o-animation: mainFadeIn 1.5s forwards;
        animation: mainFadeIn 1.5s forwards;
        animation-delay: 3.8s;

        span {
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;

        }
      }
    }

    .skills {
      .block {
        background: $blue;
        animation: secBlock 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 4.5s;
      }

      h1 {
        -webkit-animation: secFadeIn 1.5s forwards;
        -o-animation: secFadeIn 1.5s forwards;
        animation: secFadeIn 1.5s forwards;
        animation-delay: 5.3s;

        span {
          background: #ffb510;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;

        }
      }
    }

    .particles {
      .block {
        background: $yellow;
        animation: mainBlock 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 6s;
      }

      h1 {
        -webkit-animation: mainFadeIn 1.5s forwards;
        -o-animation: mainFadeIn 1.5s forwards;
        animation: mainFadeIn 1.5s forwards;
        animation-delay: 6.8s;

        span {
          background: #ffb510;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
        }
      }
    }

    .game {
      .block {
        background: $blue;
        animation: secBlock 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 7.5s;
      }

      h1 {
        -webkit-animation: secFadeIn 1.5s forwards;
        -o-animation: secFadeIn 1.5s forwards;
        animation: secFadeIn 1.5s forwards;
        animation-delay: 8.3s;

        span {
          background: #ffb510;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;

        }
      }
    }
  }

  .static .block,
  .static h1 {
    animation: none !important;
    opacity: 1 !important;
  }

  .static .block {
    width: 5% !important;
    right: 96% !important;
  }
}





@keyframes mainBlock {
  0% {
    width: 0%;
    right: 0;

  }
  50% {
    width: 100%;
    right: 0;

  }
  100% {
    width: 5%;
    right: 95%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    right: 0;

  }
  50% {
    width: 100%;
    right: 0;

  }
  100% {
    width: 5%;
    right: 95%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes top {
  0% {
    opacity: 0;
     bottom: -80px
  }
  100% {
    opacity: 1;
     bottom: 0px

  }
}

@keyframes icon {
  0% {
    opacity: 0;
     transform: scale(0.0);
  }
   50% {
      opacity: 1;
     transform: scale(1.3) rotate(-02deg);
   }
  100% {
    opacity: 1;
     bottom: 0px;
  }
}
