@font-face {
  font-family: "ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
}

.header {
  height: 25vh;
  background: rgba(2, 37, 93, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  gap: 6px;
  opacity: 0.8;
  letter-spacing: 1.3px;

  h4 {
    font-size: 36px;
    color: white;
    // background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #ffb510 60%);
    background: linear-gradient(to right,white 20%, #FFDC8F 40%, white  70%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 300% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 16.5s linear infinite;
    // animation: reveal 6000ms ease-in-out forwards 400ms;
    //animation-delay: 12s;
  }

  p {
    opacity: 0.6;
  }
}

@keyframes textclip {
  to {
    background-position: 300% center;
  }
}

@keyframes reveal {
  60%{
    letter-spacing: 10px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px rgba(255, 255, 255, .3);
  }
}
@font-face {
  font-family: "ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
}

.header {
  height: 25vh;
  background: rgba(2, 37, 93, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  gap: 6px;
  opacity: 0.8;
  letter-spacing: 1.3px;

  h4 {
    font-size: 36px;
    color: white;
    // background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #ffb510 60%);
    background: linear-gradient(to right,white 20%, #FFDC8F 40%, white  70%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 300% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 16.5s linear infinite;
    // animation: reveal 6000ms ease-in-out forwards 400ms;
    //animation-delay: 12s;
  }

  p {
    opacity: 0.6;
  }
}

@keyframes textclip {
  to {
    background-position: 300% center;
  }
}

@keyframes reveal {
  60%{
    letter-spacing: 10px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {

    text-shadow: 0 0 8px rgba(255, 255, 255, .3);
  }
}
