.aboutPage {
  color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      width: 28px;
    }

    .email-icon {
      width: 36px;
    }

    p {
      color: rgba(255, 255, 255, .5);
    }

    h5 {
      width: 55%;
      min-width: 167.75px;
      text-wrap: balance;
      word-wrap: break-word;
      line-height: 24px;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .summary {
    display: none;
    margin-top: 30px;
    overflow-y: scroll;
    align-self: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(255, 255, 255, .6);
  }
}

@media screen and (max-width: 320px) {
  .aboutPage img {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .aboutPage {
    width: 70%;

    .listItem {
      p {
        font-size: 20px;
      }

      h5 {
        font-size: 22px;
      }

      .icon {
        width: 48px;
      }
    }
  }
}
